################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HATAsset_TS/bin
/HATAsset_TS/obj/Debug
*.js
*.map
*.user
